*.pyc

# Testing/bugfinding code, not for public consumption
examples/

# testing out various documentation options
docs/
sphinx-doc/
/.coverage
htmlcov/

# distribution-related things
MANIFEST
dist/
lovett.egg-info/
